Source: python-pymoira
Maintainer: Victor Vasiliev <vasilvv@mit.edu>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-pymoira
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-hesiod, python-kerberos
Description: Client library for MIT Moira service managment system.
 Pymoira is a pure-Python implementation of Moira Service Management System protcol,
 which provides high-level abstractions for different Moira-related objects.
